<form action="" method="post" class="formAdd">
    <h2>Create a new chat</h2>
    <fieldset class="form-group">
        <input type="text" name="name" id="name" placeholder="Enter a name" class="form-control">
        <small class="text-muted">Give your chat a room a meaningful name for people to refer to it</small>
    </fieldset>
    <button class="btn btn-primary" type="submit">Create a new chat room</button>
    <a class="btn btn-danger" href="/rooms">Cancel</a>
</form>