
<table class="table table-sm tablerooms">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    <% rooms.forEach(room => { %>
      <tr>
        <td><%- room.id %> </td>
        <td><%- room.name %> </td>
      </tr>
    <% }) %>
  </tbody>
</table>
